# Datan analysointi K2019 - Tehtävät kerta 3

Palauta Optiman palautuslaatikkoon viimeistään to 31.1. Kirjoita palautuslaatikon kommenttikenttään, mitkä tehtävät olet tehnyt kokonaan/osittain.

**Opiskelijan nimi:**

## 1. Ikäluokat
Lue titanic-data 
https://student.labranet.jamk.fi/~varpe/datananalk2019/kerta3/titanic.csv
ja luo uusi sarake jossa on Age-tiedon perusteella ikäluokka 10 vuoden välein lokeroituna.

Laske sitten kuhunkin ikäluokkaan kuuluvien rivien määrä.

(Lue ensin datasta suurin ja pienin ikä)

In [171]:
df = pd.read_csv('https://student.labranet.jamk.fi/~varpe/datananalk2019/kerta3/titanic.csv')
print(df['Age'].describe())

print('\n-------\n')

bins = [0, 10, 20, 30, 40, 50, 60, 70, 80]

df['ikäluokka'] = pd.cut(df['Age'], bins)

print(df['ikäluokka'].value_counts(sort=False))

#toinen tapa

print('\n-------\n')

print(df['ikäluokka'].groupby(df['ikäluokka']).count())

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

-------

(0, 10]      64
(10, 20]    115
(20, 30]    230
(30, 40]    155
(40, 50]     86
(50, 60]     42
(60, 70]     17
(70, 80]      5
Name: ikäluokka, dtype: int64

-------

ikäluokka
(0, 10]      64
(10, 20]    115
(20, 30]    230
(30, 40]    155
(40, 50]     86
(50, 60]     42
(60, 70]     17
(70, 80]      5
Name: ikäluokka, dtype: int64

## 2.  access.log

Lue 3-kerran teoriamateriaalissakin käytetty access.log-tiedosto DataFrameen  
https://bit.ly/2FQ4LsG  
(teoriamateriaalissa on ohjeita datan lukemiseen)


Parsi aikakentästä päivämäärä ja laske kullekin päivämäärälle kuinka monta eri ip-osoitetta on kyseisenä päivänä sivulla vieraillut. (Pelkkä riittää koska kaikki data on samalta kuukaudelta)

**Tee tehtävä ilman for-silmukoita yms.**

In [141]:
df = pd.read_csv('https://bit.ly/2FQ4LsG', 
                 sep = ' ', 
                 quotechar = '"',
                 usecols = [0,3,4,5,6,7,8,9],
                 names = ['ip', 'date', 'timezone', 'request', 'status', 'size', 'referer', 'user_agent']
                )
 

df['pvm'] = df['date'].str[1:12]  # [12/Dec/2015 poimitaan 11 merkkiä toisesta lukien.  .str vie pandasin merkkijonofunktioihinb 

print(df['ip'].groupby(df['pvm']).nunique())

pvm
12/Dec/2015    120
13/Dec/2015    369
14/Dec/2015    319
15/Dec/2015    278
16/Dec/2015    311
17/Dec/2015    287
18/Dec/2015    210
19/Dec/2015     54
20/Dec/2015     70
21/Dec/2015     47
Name: ip, dtype: int64

## 3. Kunnat
(ICT-valmiudet -kurssilla tätä tutkittiin Excelillä, nyt pandasilla)

Avaa DataFrameen Excel-tiedoston laskentataulukko "kuntatietoja 2016"  
https://student.labranet.jamk.fi/~varpe/ictv2018/kerta5/kunnat2016.xlsx

Suodata/laske pandasin avulla vastaukset seuraaviin kysymyksiin.
* luettele kaikki maakunnat
* kuinka monta yli 50 000 asukkaan kuntaa on kussakin maakunnassa? 
* Kuinka monta kuntaa on Jyväskylän seutukunnassa?
* Mikä on asukasluvultaan suurin kunta, joka ei ole kaupunki (kuntamuodoltaan)?
* Montako ruotsinkielistä tai ruotsinkielisenemmistöistä kuntaa on?
* Kuinka monessa kaupungissa on tuloveroprosentti välillä 19,00-20,00% ?
* Kuinka monta asukasta on yhteensä Pohjanmaan, Pohjois-Pohjanmaan, Keski-Pohjanmaan ja Etelä-Pohjanmaan maakunnissa?

Vinkki: sarakeotsikot sisältävät hankalasti käsiteltäviä rivinvaihtoja. Näet ne kutsumalla:  
`print(df.columns)`  
Voit toki luoda omat helpommat sarakeotsikot,tai vaikka lyhentää ne komennolla  
`df.rename(columns=lambda x: x[:8], inplace=True)`

In [160]:
df = pd.read_excel('https://student.labranet.jamk.fi/~varpe/ictv2018/kerta5/kunnat2016.xlsx')
print(df.columns)
df.rename(columns=lambda x: x[:8], inplace=True)  
print(df.head())

print('\n------------\n')

#luettele kaikki maakunnat
print(df['Maakunta'].unique())

print('\n------------\n')

#kuinka monta yli 50 000 asukkaan kuntaa on kussakin maakunnassa? 
print(df[df['Väkiluku']>50000]['Maakunta'].value_counts())

print('\n------------\n')

#Kuinka monta kuntaa on Jyväskylän seutukunnassa?
print(df[df['Seutukun'] == 'Jyväskylän'].shape[0])

print('\n------------\n')

#Mikä on asukasluvultaan suurin kunta, joka ei ole kaupunki (kuntamuodoltaan)?
print(df.loc[df[df['Kuntamuo'] != 'Kaupunki']['Väkiluku'].idxmax(),'Kunta'])

print('\n------------\n')



#Montako ruotsinkielistä tai ruotsinkielisenemmistöistä kuntaa on?
print(df['Kielisuh'].unique()) # luetaan mahdolliset arvot
print(df[(df['Kielisuh'] == 'Kaksikielinen kunta, jossa enemmistön kieli on ruotsi') | (df['Kielisuh'] ==  'Yksikielinen ruotsinkielinen kunta')].shape[0])

print('\n------------\n')

#Kuinka monessa kaupungissa on tuloveroprosentti välillä 19,00-20,00% 

print(df[(df['Kuntamuo']=='Kaupunki') & (df['Tulovero']<=20) & (df['Tulovero']>=19)].shape[0])

print('\n------------\n')

#Kuinka monta asukasta on yhteensä Pohjanmaan, Pohjois-Pohjanmaan, Keski-Pohjanmaan ja Etelä-Pohjanmaan maakunnissa?
print(df[df['Maakunta'].isin(['Pohjanmaa', 'Pohjois-Pohjanmaa', 'Keski-Pohjanmaa', 'Etelä-Pohjanmaa'])]['Väkiluku'].sum())

Index(['Kunta-\nnumero', 'Kunta', 'Maakunta', 'Seutukunta', 'Kuntamuoto',
       'Maapinta-ala\nkm2', 'Kokonaispinta-ala\nkm2', 'Väkiluku \n31.12.2015',
       'Asukastiheys\nAsukkaita/km²', 'Asukastiheys\nAsukkaita/\nmaa-km²',
       'Tuloveroprosentti 2016', 'Kielisuhde',
       'Ruotsinkielisten osuus väestöstä, %',
       'Korkea-asteen tutkinnon suorittaneiden osuus (yli 15-v.) %, 2014',
       'Työttömien osuus työvoimasta, %, 2014'],
      dtype='object')
   Kunta-\nn      Kunta           Maakunta       Seutukun   Kuntamuo  \
0          5   Alajärvi    Etelä-Pohjanmaa    Järviseudun   Kaupunki
1          9  Alavieska  Pohjois-Pohjanmaa     Ylivieskan  Muu kunta
2         10     Alavus    Etelä-Pohjanmaa  Kuusiokuntien   Kaupunki
3         16   Asikkala        Päijät-Häme         Lahden  Muu kunta
4         18     Askola            Uusimaa        Porvoon  Muu kunta

   Maapinta  Kokonais  Väkiluku   Asukasti   Asukasti  Tulovero  \
0   1008.75   1056.74     10006   9.468743   9.919207     22.00
1    251.37    253.02      2687  10.619714  10.689422     21.50
2   1087.31   1151.46     12044  10.459764  11.076878     21.25
3    563.35    755.55      8287  10.968169  14.710216     20.75
4    212.42    218.03      5104  23.409623  24.027869     20.25

                            Kielisuh  Ruotsink  Korkea-a  Työttömi
0  Yksikielinen suomenkielinen kunta       0.1      20.2      14.5
1  Yksikielinen suomenkielinen kunta       0.3      16.1      14.2
2  Yksikielinen suomenkielinen kunta       0.0      18.1      10.7
3  Yksikielinen suomenkielinen kunta       0.2      24.8      13.6
4  Yksikielinen suomenkielinen kunta       3.3      21.4       9.4

------------

['Etelä-Pohjanmaa' 'Pohjois-Pohjanmaa' 'Päijät-Häme' 'Uusimaa'
 'Varsinais-Suomi' 'Pirkanmaa' 'Ahvenanmaa' 'Etelä-Savo' 'Lappi'
 'Satakunta' 'Kanta-Häme' 'Keski-Pohjanmaa' 'Kymenlaakso' 'Keski-Suomi'
 'Kainuu' 'Pohjois-Savo' 'Pohjois-Karjala' 'Pohjanmaa' 'Etelä-Karjala']

------------

Uusimaa              3
Varsinais-Suomi      2
Kymenlaakso          2
Pohjois-Savo         1
Etelä-Karjala        1
Keski-Suomi          1
Pirkanmaa            1
Päijät-Häme          1
Kanta-Häme           1
Etelä-Pohjanmaa      1
Pohjois-Pohjanmaa    1
Satakunta            1
Lappi                1
Pohjanmaa            1
Pohjois-Karjala      1
Etelä-Savo           1
Name: Maakunta, dtype: int64

------------

7

------------

Nurmijärvi

------------

['Yksikielinen suomenkielinen kunta' 'Yksikielinen ruotsinkielinen kunta'
 'Kaksikielinen kunta, jossa enemmistön kieli on suomi'
 'Kaksikielinen kunta, jossa enemmistön kieli on ruotsi']
31

------------

27

------------

850277

## 4. Lumitalvet
Lataa DataFrameen 2-kerran tehtävissäkin käytetty csv-tiedosto  
http://student.labranet.jamk.fi/~varpe/datananalk2019/kerta2/saa_jkl.csv

Tiedostossa on päivittäisiä säähavaintoja Jyväskylän lentoasemalta vuodesta 1959.

Laske tietojen perusteella jokaiselle talvelle **"lumisumma"** jossa on talven jokaisen vuorokauden lumensyvyys-lukema laskettu yhteen (ei ole mikään oikea meteorologinen termi).

Huomioita:
* lumisumma pitää laske talvittain, ei siis vuosittain. Tee uusi sarake joka kertoo mihin talveen kyseinen vuorokausi kuuluu. Käytetään vaikka elokuun alkua rajana.

* Ilmatieteen laitos käyttää arvoa -1 lumensyvyyden arvona jos "lunta ei ole näkyvissäkään". Ei haluta kuitenkaan miinustaa yhtä näinä päivinä, joten korvaa -1:t nollilla.

* Lisäksi joinain päivinä lumensyvyys todella (jostain syystä) puuttuu. Jos nämä jätetään laskusta pois, kyseisen talven lukema jää liian pieneksi (jos lunta on kuitenkin ollut). Lienee turvallista olettaa että lunta on varmaan ollut suunnilleen saman verran kuin edellisenä päivänä, joten täytä NaN-arvot edellsillä arvoilla

Anna tuloksena DataFrame, jossa on indeksinä talvi (joko muodossa 2018 tai 2017-2018) ja sarakkeina 
* talven lumisumma 
* sijoitus lumisummien joukossa (lumisin = 1) 
* talven lumipäivien lukumäärä 
* talven suurin lumensyvyys.

**Tee tehtävä ilman for-silmukoita yms.**

In [156]:
df = pd.read_csv('http://student.labranet.jamk.fi/~varpe/datananalk2019/kerta2/saa_jkl.csv')

df['Lumensyvyys'].replace(-1, 0, inplace = True)  # korvataan -1:t nollilla
 
df['Lumensyvyys'].fillna(method = 'ffill') # täytetään puuttuvat edelliseillä arvoilla

# Talvi seuraavaan vuoteen jos on kuukausi 8-12
df['Talvi'] = df['Vuosi'] + 1*(df['Kk']>7)   

# talvi pidemmässä muodossa
df['Talvi2'] = (df['Vuosi'] - 1*(df['Kk']<8)).astype(str) + "-" + (df['Vuosi'] + 1*(df['Kk']>7)).astype(str)

df2 = pd.DataFrame(df.groupby(df['Talvi2'])['Lumensyvyys'].sum().astype(int))  # muutetaan kokonaisluvuksi
df2['sija'] = df2['Lumensyvyys'].rank(ascending = False).astype(int) 

df2['lumipaivia'] = df[df['Lumensyvyys']>0].groupby(df['Talvi2'])['Lumensyvyys'].size()
df2['maksimi'] = df.groupby(df['Talvi2'])['Lumensyvyys'].max().astype(int)

df2

           Lumensyvyys  sija  lumipaivia  maksimi
Talvi2
1958-1959         5043    30         114       64
1959-1960         5593    18         169       65
1960-1961         5082    28         162       60
1961-1962         6644    12         156       78
1962-1963         3984    43         158       50
1963-1964         4512    39         166       49
1964-1965         5465    20         159       62
1965-1966         9053     3         185       86
1966-1967         5818    16         164       74
1967-1968         5150    25         161       64
1968-1969         7863     5         195       90
1969-1970         6281    13         183       60
1970-1971         6095    14         185       77
1971-1972         5573    19         171       58
1972-1973          949    59         122       22
1973-1974         7134     7         187       80
1974-1975         2761    51         166       32
1975-1976         5041    32         163       58
1976-1977         5218    23         164       67
1977-1978         4608    37         165       51
1978-1979         4634    35         162       51
1979-1980         5302    21         160       54
1980-1981        11011     1         197       95
1981-1982         7812     6         177       70
1982-1983         3073    48         154       38
1983-1984         8448     4         164       88
1984-1985         5154    24         161       54
1985-1986         6684    10         172       67
1986-1987         4631    36         148       52
1987-1988        10230     2         176       94
...                ...   ...         ...      ...
1989-1990         2854    50         143       51
1990-1991         3220    47         152       41
1991-1992         5042    31         165       58
1992-1993         3448    45         180       50
1993-1994         5080    29         163       70
1994-1995         4795    33         181       56
1995-1996         4295    41         172       62
1996-1997         1667    58         152       23
1997-1998         3655    44         171       40
1998-1999         2943    49         156       48
1999-2000         5090    27         149       60
2000-2001         2656    53         122       37
2001-2002         6707     9         174       82
2002-2003         5937    15         177       59
2003-2004         5110    26         144       68
2004-2005         4661    34         145       55
2005-2006         5634    17         163       67
2006-2007         1694    57         121       34
2007-2008         2000    56         124       35
2008-2009         2714    52         153       34
2009-2010         4296    40         131       63
2010-2011         6670    11         174       71
2011-2012         4582    38         148       59
2012-2013         5231    22         153       59
2013-2014          644    60          95       17
2014-2015         3314    46         134       47
2015-2016         2002    55         110       40
2016-2017         2500    54         153       38
2017-2018         6808     8         160       81
2018-2019          570    61          44       30

[61 rows x 4 columns]

## 5.  Sarjataulukko
Tiedostossa  
https://student.labranet.jamk.fi/~varpe/datananalk2019/kerta3/season-1718_csv.csv  
on Englannin Valioliigan ottelutulokset kaudelta 2017-2018.

Generoi tulosten perusteella sarjataulukko, jossa on kullekin joukkueelle ainakin
* kotivoitot
* kotitasapelit
* kotitappiot
* vierasvoitot
* vierastasapelit
* vierastappiot
* pisteet (voitosta saa 3 pistettä, tasapelistä 1 pisteen, tappiosta 0 pistettä)

Lajittele sarjataulukko pisteiden mukaan (eniten pisteitä ekana)

Bonuksena voit laskea sarakkeet:
* tehdyt maalit
* päästetyt maalit
* maaliero (tehdyt-päästetyt)  

ja lajittelua voi parantaa laittamalla tasapisteissä olevat joukkueet maalieron mukaiseen järjestykseen, ja jos sekin on sama niin tehdyt maalit ratkaisevat.

Tarvittavat sarakkeet ovat:
* HomeTeam (kotijoukkue)
* AwayTeam (vierasjoukkue)
* FTR (fultime result, H=kotivoitto, D=tasapeli, A=vierasvoitto)  

bonusta varten myös
* FTHG (fulltime home goals, kotijoukkueen maalit)
* FTAG (fulltime away goals, vierasjoukkueen maalit)


**Tee tehtävä ilman for-silmukoita yms.**

In [98]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://student.labranet.jamk.fi/~varpe/datananalk2019/kerta3/season-1718_csv.csv')


kv = df[df['FTR']=='H'].groupby(df['HomeTeam'])['HomeTeam'].count()  # kotivoitot
ktp = df[df['FTR']=='D'].groupby(df['HomeTeam'])['HomeTeam'].count() # kotitasapelit
kt = df[df['FTR']=='A'].groupby(df['HomeTeam'])['HomeTeam'].count() # kotitappiot

vv = df[df['FTR']=='A'].groupby(df['AwayTeam'])['AwayTeam'].count() # vierasvoitot
vtp = df[df['FTR']=='D'].groupby(df['AwayTeam'])['AwayTeam'].count() # vierastasapelit
vt = df[df['FTR']=='H'].groupby(df['AwayTeam'])['AwayTeam'].count() # vierastappiot

# Seriekset DataFrameksi
taul = pd.DataFrame({'kv':kv, 'ktp' :ktp, 'kt' : kt, 'vv' : vv, 'vtp':vtp, 'vt':vt}, columns = ['kv', 'ktp', 'kt', 'vv', 'vtp', 'vt'])

taul = taul.fillna(0) # NaN-arvo nollaksi
taul['kt'] = taul['kt'].astype(int) # muutetaan sarake kokonaisluvuiksi, muuten näkyy desimaalina, koska on yksi NaN-arvo

taul['p'] = 3*(taul['kv']+taul['vv'])+(taul['ktp']+taul['vtp']) # Pisteet

tm = df['FTHG'].groupby(df['HomeTeam']).sum() + df['FTAG'].groupby(df['AwayTeam']).sum()  # tehdyt maalit
pm = df['FTAG'].groupby(df['HomeTeam']).sum() + df['FTHG'].groupby(df['AwayTeam']).sum()  # päästeyt maalit

taul['maaliero'] = tm-pm
taul['tm'] = tm
taul['pm'] = pm
taul['maalit'] = tm.astype(str) + "-" + pm.astype(str) # muutetan stringeiksi

taul.sort_values(['p', 'maaliero', 'tm'], ascending = False, inplace = True)

print(taul)

                kv  ktp  kt  vv  vtp  vt    p  maaliero   tm  pm  maalit
Man City        16    2   1  16    2   1  100        79  106  27  106-27
Man United      15    2   2  10    4   5   81        40   68  28   68-28
Tottenham       13    4   2  10    4   5   77        38   74  36   74-36
Liverpool       12    7   0   9    5   5   75        46   84  38   84-38
Chelsea         11    4   4  10    3   6   70        24   62  38   62-38
Arsenal         15    2   2   4    4  11   63        23   74  51   74-51
Burnley          7    5   7   7    7   5   54        -3   36  39   36-39
Everton         10    4   5   3    6  10   49       -14   44  58   44-58
Leicester        7    6   6   5    5   9   47        -4   56  60   56-60
Newcastle        8    4   7   4    4  11   44        -8   39  47   39-47
Crystal Palace   7    5   7   4    6   9   44       -10   45  55   45-55
Bournemouth      7    5   7   4    6   9   44       -16   45  61   45-61
West Ham         7    6   6   3    6  10   42       -20   48  68   48-68
Watford          7    6   6   4    2  13   41       -20   44  64   44-64
Brighton         7    8   4   2    5  12   40       -20   34  54   34-54
Huddersfield     6    5   8   3    5  11   37       -30   28  58   28-58
Southampton      4    7   8   3    8   8   36       -19   37  56   37-56
Swansea          6    3  10   2    6  11   33       -28   28  56   28-56
Stoke            5    5   9   2    7  10   33       -33   35  68   35-68
West Brom        3    9   7   3    4  12   31       -25   31  56   31-56